flexbox.pushbullet(flex="1",center)
	div.type(flex='1') 
		span(ng-if='isEmitted') 
			b to 
			| {{pushbullet.receiver_email}}
		span(ng-if='!isEmitted') 
			b from 
			| {{pushbullet.sender_email}}
		br
		{{date}}
		br
		button.button.error.fa.fa-times(ng-click='ctrl.delete(parent.$index)')
	div.body(flex='3',ng-class='{"isEmitted":isEmitted}',class='type-{{pushbullet.type}}')