h1 {{pushbullet.title}}
div(ng-repeat='item in pushbullet.items')
	i.fa(ng-class='{"fa-check-square-o":item.checked,"fa-square-o":!item.checked}',ng-click='item.checked = !item.checked; save()')
	| {{item.text}}
