input(name='file_name',ng-model='form.file_name',placeholder='Title')
br
input(name='file_type',ng-model='form.file_type',placeholder='Type (ex: image/jpeg)')
br
textarea(name='file_url',ng-model='form.file_url',placeholder='Link of file (ex: http://example/music.mp3)')