h3 Add

div
	button.button.animate.fa.fa-2x.fa-comments.type-note(ui-sref='pushbullet.add.note',ng-class='{active:form.type=="note"}',title='Note')
	button.button.animate.fa.fa-2x.fa-link.fa-rotate-90.type-link(ui-sref='pushbullet.add.link',ng-class='{active:form.type=="link"}',title='Link')
	button.button.animate.fa.fa-2x.fa-list-ul.type-list(ui-sref='pushbullet.add.link',ng-class='{active:form.type=="link"}',title='List')
	button.button.animate.fa.fa-2x.fa-copy.type-file(ui-sref='pushbullet.add.file',ng-class='{active:form.type=="file"}',title='File')
	button.button.animate.fa.fa-2x.fa-map-marker.type-address(ui-sref='pushbullet.add.file',ng-class='{active:form.type=="file"}',title='Address')

br
div
	form(name='add')
		div
			select(name='email',ng-model='form.email',ng-options='email for email in emails',placeholder='To (email, iden)')
		div(ui-view='')

		div
			button.button.success(ng-click='save()',ng-disabled='send') Send !
