h3 Add

button(ui-sref='pushbullet.add.note') Note
button(ui-sref='pushbullet.add.link') Link
button(ui-sref='pushbullet.add.file') File

form(name='add')
	div
		label To
			select(name='email',ng-model='form.email',ng-options='email for email in emails')
	div(ui-view='')

	div
		button(ng-click='save()',ng-disabled='send') Send !
