flexbox.pushbullet(flex="1",center)
	div.type(flex='1') 
		span(ng-if='isEmitted') 
			b to 
			| {{pushbullet.receiver_email}}
		span(ng-if='!isEmitted') 
			b from 
			| {{pushbullet.sender_email}}
		br
		span(title='{{date}}') {{date_relative}}
		br
		button.button.animate.error(ng-click='delete(parent.$index); pushbullet.deleting = true',ng-disabled='pushbullet.deleting')
			i.fa(ng-class='{"fa-times":!pushbullet.deleting,"fa-spinner fa-spin":pushbullet.deleting}')
	div.body(flex='3',ng-class='{"isEmitted":isEmitted}',class='type-{{pushbullet.type}}')